@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 359.9px) {
  html {
    font-size: 50%;
  }
}
@media screen and (min-width: 359.9px) and (max-width: 767.9px) {
  html {
    font-size: 56.5%;
  }
}
